# Shortcuts
alias zcfg="vim ~/.zshrc"
alias zrld="source ~/.zshrc"
alias vcfg="vim ~/.vimrc"
alias clr="clear"
alias jpt="jupyter-notebook"
alias wk="cd ~/Work"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
